body {
  font-family: Sans-Serif;
}
header h1 { 
  margin-bottom: 0; 
}
header p {
  color: gray;
  margin-top: 0; 
}
h2 {
  font-size: large;
}
table {
  border-collapse: collapse;
}
thead, tfoot {
  background: #ddd; 
}
tbody {
  background: #eee; 
}
th {
  text-align: left;
}
td {
  padding: 0.2em 0.5em;
  border: 1px solid #ddd;
}
.CodeMirror {
  border: 1px solid #ddd;
  height: auto;
}
