{% set title = "API" %}
{% extends "layout.html" %}
{% block main %}

<p>
  Die auf Normdaten-Mappings basierende automatische Anreicherung von PICA-Datensätzen
  kann über eine API mit folgenden Endpunkten abgerufen werden.
</p>

<h2>GET <a href="api/voc">/voc</a></h2>
<p>
  Liefert die <a href="terminologies">unterstützen Vokabulare</a> 
  als JSON-Array von <a href="https://gbv.github.io/jskos/jskos.html#concept-schemes">JSKOS Concept Schemes</a>.
</p>

<h2>GET <a href="api/databases">/databases</a></h2>
<p>
  Liefert die unterstützen Datenbanken im JSON-LD Format des
  <a href="http://uri.gbv.de/database/">GBV Datenbankverzeichnis</a>.
</p>

<h2>GET <a href="api/indexing">/indexing</a></h2>
<p>
  Liefert die in einem PICA-Datensatz enthaltenen Normdaten der unterstützen Vokabulare. URL-Parameter:
  <dl>
    <dt><code>id={dbkey}:ppn:{ppn}</code></dt>
    <dd><p>Auswahl des PICA-Datensatz per Datenbank-Kürzel und PPN</p></dd>
    <dt><code>format={format}</code></dt>
    <dd>
    <p>Rückgabeformat (<code>picajson</code>, <code>pp</code>, 
    oder Erschließungsdaten als <code>json</code> mit noch nicht festgelegter Struktur)</p>
    </dd>
  </dl>
</p>

<h2>GET <a href="api/enrich">/enrich</a></h2>
<p>
  Liefert auf Grundlage von Normdaten-Mappings ermittelte Anreicherung von PICA-Datensätzen.
  <ul>
    <li>
      <p><b>URL Parameter</b></p>
      <p><code>id={dbkey}:ppn:{ppn}</code> Auswahl des PICA-Datensatz per Datenbank-Kürzel und PPN</p>
    </li>
  </ul>
</p>

{% endblock %}
