{% extends "layout.html" %}
{% block main %}

<p>
  Die auf Normdaten-Mappings basierende automatische Anreicherung von PICA-Datensätzen
  kann über eine API mit folgenden Endpunkten abgerufen werden.
</p>

<h2>GET <a href="api/voc">/voc</a></h2>
<p>
  Liefert die <a href="terminologies">unterstützen Vokabulare</a>
  als JSON-Array von <a href="https://gbv.github.io/jskos/jskos.html#concept-schemes">JSKOS Concept Schemes</a>.
</p>

<h2>GET <a href="api/indexing">/indexing</a></h2>
<p>
  Liefert die in einem PICA-Datensatz enthaltenen Normdaten der unterstützen Vokabulare. URL-Parameter:
  <dl class="params">
    <dt>id={dbkey}:ppn:{ppn}</dt>
    <dd>Auswahl des PICA-Datensatz per Datenbank-Kürzel und PPN</dd>
    <dt>format={format}</dt>
    <dd>
      <dl class="params">
        <dt>picajson</dt>
        <dd><a href="https://format.gbv.de/pica/json">PICA JSON</a></dd>
        <dt>pp</dt>
        <dd><a href="https://format.gbv.de/pica/plain">PICA Plain</a></dd>
        <dt>json</dt>
        <dd>als Indexing Set (die intern von coli-rich verwendeten JSON-Struktur)</dd>
      </dl>
    </dd>
  </dl>
</p>

<h2>GET <a href="api/enrich">/enrich</a></h2>
<p>
  Liefert auf Grundlage von Normdaten-Mappings ermittelte Anreicherung von PICA-Datensätzen. URL-Parameter:
  <dl class="params">
    <dt>id={dbkey}:ppn:{ppn}</dt>
    <dd>Auswahl des PICA-Datensatz per Datenbank-Kürzel und PPN</dd>
    <dt>format</dt>
    <dd>
      <dl class="params">
        <dt>indexing</dt>
        <dd>Indexing Set</dd>
      </dl>
    </dd>
  </dl>
</p>

<h2>GET <a href="api/config">/config</a></h2>

{% endblock %}
