{% extends "layout.html" %}
{% block main %}
{% raw %}
<div id="app">

<p>
  Sacherschließungsdaten <a href="voc">unterstützer Vokabulare</a>
  können aus PICA-Datensätzen extrahieren und mittels <a href="mappings">Normdaten-Mappings</a> angereichert werden.
</p>

<h2>PICA-Datensatz</h2>
<p>
  Im folgenden Formular lassen sich die Sacherschließungsdaten aus PICA-Datenbanken abrufen
  oder direkt PICA-Daten eingeben:
</p>

<!-- TODO: allow to select database and avram profile -->

<p>
  <small>
    <ul class="inline">
      <li v-for="ppn in examples" :key="ppn">
        <router-link :to="`?id=${dbkey}:ppn:${ppn}`">{{ppn}}</router-link>
      </li>
    </ul>
  </small>
</p>

<pica-editor ref="recordEditor"
             :unapi="'api/indexing'"
             :avram="avram"
             :picabase="picabase"
             :dbkey="dbkey"
             @update:record="updateRecord"
             @update:ppn="updatePPN"
></pica-editor>

<div v-if="Object.keys(indexing).length">

  <h2>↓ Extraktion
    <span v-if="ppn"> (<a :href="`api/indexing?id=${dbkey}:ppn:${ppn}`">API</a>)</span>
  </h2>

  <indexing-set :indexing="indexing" :schemes="schemes"></indexing-set>

  <h2>↓ Anreicherung
    <span v-if="ppn"> (<a :href="`api/enrich?id=${dbkey}:ppn:${ppn}&format=indexing`">API</a>)</span>
  </h2>

  <indexing-set :indexing="enrichedIndexing" :schemes="schemes"></indexing-set>

  <h2>↓ Datensatz-Änderung
    <span v-if="ppn"> (<a :href="`api/enrich?id=${dbkey}:ppn:${ppn}`">API</a>)</span>
  </h2>

  <pre>{{diff}}</pre>

</div>

{% endraw %}
{% endblock %}
