body {
  font-family: Sans-Serif;
}
main {
  margin: 1em;
}
h2 {
  font-size: large;
}
.table {
  border-collapse: collapse;
}
.table thead, tfoot {
  background: #eee; 
}
.table th {
  text-align: left;
}
.table > tbody > tr > td, th {
  padding: 0.2em 0.5em;
  border: 1px solid #ddd;
}
a {
  text-decoration: none;   
}
a:hover {
  text-decoration: underline;   
}
ul.inline {
  display: inline;
  padding: 0px;
}
ul.inline li {
  display: inline;
  list-style: none;
}
ul.inline li:after {
  content: ", ";
}
ul.inline li:last-child:after {
  content: "";
}
header ul.navbar {
  padding-bottom: 1em;
  border-bottom: 1px solid #ddd;
}
footer {
  margin-top: 1em;
  border-top: 1px solid #ddd;
}
ul.navbar {
  padding: 0 1em;
}
ul.navbar li {
  display: inline;
  list-style-type: none;
}
ul.navbar li + li::before {
    content: "\A0\A0|\A0\A0";
}
li.selected {
    font-weight: bold;
}
dl.params dt {
    font-family: monospace;
}
dl.params dd {
    padding: 0.5em 0;
}
dl.params dl {
    margin: 0;
}
